{% extends "detail.html" %}
{% load static %}
{% block title %}投稿指南{% endblock %}
{% block description %}投稿指南_俚语维基{% endblock %}
{% block keyword %}投稿指南{% endblock %}
{% block searchform %}<input type="text" placeholder="..." name="q" id="id_q">{% endblock %}




{% block colcenter %}
<div class="single">
<h3>投稿指南</h3>
<p class="guide">俚语，应该是在相当大范围内被认知的概念</p>
<p>一个小圈子里使用的惯用语，其他人是基本没机会遇见的，那么发出来也就没意义了。</p>
<br />
<p class="guide">请勿创建詈骂他人或捏造事实的内容</p>
<p></p>
<br />
<p class="guide">请勿创建可能威胁本网站的存在、网站所有者的人身安全的内容</p>
<p>我们都讨厌看不见边框的审查制度，但，由于众所周知的原因...你懂的。不妨采用通假字、通配符。</p>
<br />


</div>
{% endblock %}





{% block colleft %}
    &nbsp;
{% endblock %}

{% block colright %}
    &nbsp;
{% endblock %}